language: ruby
rvm:
- 2.2
before_script:
- git config --global user.name "tomohung"
- git config --global user.email "tomohung@gmail.com"
- export REPO_URL="https://$GH_TOKEN@github.com/$GH_REPO.git"
- bundle exec rake setup_github_pages[$REPO_URL]
script: bundle exec rake generate
after_script:
- bundle exec rake deploy
env:
  global:
  - GH_REPO="tomohung/tomohung.github.io"
  - secure: wvZ/JIydR4clveVAL0wRh0pYQb3yTu3Sfjqz8al+yRDXXivTAM4gOy9+RIFyyxsqwPdxeYWuKucRQt3fK3mls0j22Og/zcloiIu4c90kRQxb1WU7XM6aYBLy7dlgA7foUKCFdxOTIWWjVMG2XLCNYap6X8QTkaSBC10pY9+q9SJYO1sSd/QTKSLynoAfYXtbx9MJg35OpDmzqxpBa1ZlE2zDehEbr7fpWVRSCgwTRD4TSJrjtV7w8qdfrp/AwfXYgcDkBpKzHguZNW/lLRs7f+pRo0si/TUajsQdlVkByevTVMX9aD7IInWPTa2gCHV66YohJGEtzbyQnnD8IE+DasQDb0XIyk+Dcz2mPStAE1782MznQ5qKJ0Usn/ThcHrUW9sLL3ymmIuwC1hp8JWmX0geNNNhRtR476w44mdxkjTcWjK8F42+Cl9hJpRoQP8me57sSdx+MQ5DzpwIY4yssxNWry6hOoDrEMS69yVMXbVZUdZTxnCJuVCq4E09GmuTeFcxmCB92jcJL3qqqyylG45O7aCnLQ63EvmXwvq8uudY+V9LoKVdabE9TrPkJftNdL0r0bfTaakpFQ7Ijs5Po/JAxU1lZcwUSYcKYhKJdJMZSu8BGbaskQTSc13gFZBO02uyVAmGqrgrxn2tCUbt9lmvPP1Rg/wHBcl/ycHn+aU=
